@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
:root {
  --blue: #04e29d;
  --orange: #f6833b;
}

* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
body {
  color: rgb(241, 241, 241);
  background-color: #03001c;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}
input {
  font-family: "Abril Fatface", cursive;
}

img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
  color: var(--blue);
}

header a {
  text-decoration: none;
  color: inherit;
}

/* header a.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #444;
  width: 12rem;
  height: 3rem;
} */

header nav {
  display: flex;
  gap: 16px;
  font-weight: 800;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  header nav {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
  }
}
div.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 320px) {
  div.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  div.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
div.post-content {
  margin: auto;
}
@media screen and (max-width: 320px) {
  div.post-content {
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  div.post-content {
    margin: 0 auto;
  }
}
div.post div.post-content h2 {
  margin: 0;
  font-size: 1.8rem;
}
@media screen and (max-width: 320px) {
  div.post div.post-content h2 {
    margin: 0;
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  div.post div.post-content h2 {
    margin: 0;
    font-size: 1.5rem;
  }
}

div.post div.post-content a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 0.5rem 0;
  color: #777;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

div.post p.info a.author {
  color: #444;
}
div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
  background: linear-gradient(to right, var(--blue) 10%, var(--orange) 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (max-width: 320px) {
  div.post p.summary {
    font-size: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  div.post p.summary {
    font-size: 1rem;
  }
}
::placeholder {
  color: white;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a {
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
  background: linear-gradient(to right, var(--blue) 10%, var(--orange) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
div.post-page time {
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}
div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}
div.content p {
  line-height: 1.7rem;
  margin: 30px 0;
}
div.content li {
  margin-bottom: 10px;
}
div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn {
  background-color: var(--blue);
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #03001c;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}
a svg {
  height: 20px;
}
div.post-page div.content {
  color: white;
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
div.post-page div.content a {
  text-decoration: none;
  color: var(--blue);
}
footer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}
@media screen and (max-width: 320px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* .news-letter-wrapper */
.news-letter-wrapper {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  background-color: inherit;
  padding: 0 auto;
  width: 100%;
}
@media screen and (max-width: 320px) {
  .news-letter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-letter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
  }
}

.news-letter-text {
  margin-right: 20px;
}

.news-letter-text h3 {
  background: linear-gradient(to right, var(--blue) 10%, var(--orange) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-size: 24px;
  margin-bottom: 10px;
}
@media screen and (max-width: 320px) {
  .news-letter-text h3 {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-letter-text h3 {
    font-size: 1.2rem;
  }
}

.news-letter-text p {
  background: linear-gradient(to right, #f5de98 10%, #dfa398 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .news-letter-text p {
    font-size: 0.8rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-letter-text p {
    font-size: 0.8rem;
  }
}

.form.newsLetter-signUp-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 320px) {
  .form.newsLetter-signUp-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .form.newsLetter-signUp-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}

.name-input,
.email-input {
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  max-height: 40px;
  min-width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  background-image: url("./abstract-art-7410896_1920.jpg");
  background-size: cover;
}
@media screen and (max-width: 320px) {
  .name-input,
  .email-input {
    min-width: 250px;
    font-size: 0.8rem;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .name-input,
  .email-input {
    min-width: 250px;
    font-size: 0.8rem;
    margin: 0m auto;
  }
}

.name-input::placeholder,
.email-input::placeholder {
  font-size: 1.3rem;
  letter-spacing: 0.8rem;
  font-weight: 700;
}

.name-input:focus,
.email-input:focus {
  outline: none;
}
.name-input:hover,
.email-input:hover {
  outline: solid var(--blue);
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-image: url("./water-2079907_1920.jpg");
  background-size: cover;
}
.name-input:hover::placeholder,
.email-input:hover::placeholder {
  outline: none;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5rem;
}
.newsLetter-signUp-form button[type="submit"] {
  border: none;
  background-color: white;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0px 8px rgb(202, 202, 240);
  font-weight: 800;
  letter-spacing: 0.2rem;
  min-width: 120px;
  min-height: 30px;
  text-align: center;
  background-image: url("./fluid-7579494.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  margin: 0 auto;
}

.newsLetter-signUp-form button[type="submit"]:hover {
  background-color: var(--blue);
  color: white;
  box-shadow: 0 0px 8px var(--blue);
  background-image: url("./abstract-art-7410896_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  scale: 1.2;
  transition: 0.3s;
}

.login-link,
.register-link,
.create-link,
.logout-link {
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 0 10px;
}

.login-link:active,
.login-link:hover,
.login-link:focus,
.register-link:active,
.register-link:hover,
.register-link:focus,
.create-link:active,
.create-link:hover,
.create-link:focus {
  background: linear-gradient(to right, var(--blue) 10%, var(--orange) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  scale: 1.2;
  transition: 0.5s;
}
.logout-link:active,
.logout-link:hover,
.logout-link:focus {
  color: linear-gradient(to right, var(--blue) 10%, var(--orange) 50%);
  scale: 1.2;
  transition: 0.5s;
}

.edit-post-form .edit-post-submit-btn {
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0px 8px rgb(202, 202, 240);
  font-weight: 600;
  letter-spacing: 0.2rem;
  min-width: 150px;
  min-height: 40px;
  text-align: center;
  opacity: 0.8;
  margin: 0 auto;
}

.edit-post-form .edit-post-submit-btn:hover,
.edit-post-form .edit-post-submit-btn:active,
.edit-post-form .edit-post-submit-btn:focus {
  background-color: var(--blue);
  color: white;
  box-shadow: 0 0px 8px var(--blue);
  background-image: url("./abstract-art-7410896_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  scale: 1.2;
  transition: 0.3s;
}

.create-post-submit-btn {
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0px 8px rgb(202, 202, 240);
  font-weight: 600;
  letter-spacing: 0.2rem;
  min-width: 150px;
  min-height: 40px;
  text-align: center;
  opacity: 0.8;
  margin: 0 auto;
}

.create-post-submit-btn:hover,
.create-post-submit-btn:active,
.create-post-submit-btn:focus {
  background-color: var(--blue);
  color: white;
  box-shadow: 0 0px 8px var(--blue);
  background-image: url("./abstract-art-7410896_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  scale: 1.2;
  transition: 0.3s;
}

form .create-post-form::placeholder {
  color: black;
}

/* Container styling */
.pp-loading {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;

  color: #04e29d;
  display: inline-block;
  margin: auto auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Wave animation */
.pp-loading span {
  display: inline-block;
  animation: wave 1.3s infinite;
}

.pp-loading span:nth-child(1) {
  animation-delay: 0.1s;
}
.pp-loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.pp-loading span:nth-child(3) {
  animation-delay: 0.3s;
}
.pp-loading span:nth-child(4) {
  animation-delay: 0.4s;
}
.pp-loading span:nth-child(5) {
  animation-delay: 0.5s;
}
.pp-loading span:nth-child(6) {
  animation-delay: 0.6s;
}
.pp-loading span:nth-child(7) {
  animation-delay: 0.7s;
}
.pp-loading span:nth-child(8) {
  animation-delay: 0.8s;
}
.pp-loading span:nth-child(9) {
  animation-delay: 0.9s;
}
.pp-loading span:nth-child(10) {
  animation-delay: 1s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-20px);
  }
}

.hp-postSum-btn {
  background-color: #f8a774;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}



.hp-postSum-inLine-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: #007bff;
}



.post-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
